{#
/**
 * @file
 * Partial: Progreso de solicitudes de offboarding.
 */
#}
<div class="offboarding-progress">
  <h3>{{ 'Offboarding'|t }}</h3>
  <div class="offboarding-progress__content">
    <p>{{ 'Solicitudes de baja y estado del proceso.'|t }}</p>
  </div>
</div>
