{#
/**
 * @file
 * Partial: Estado de aceptación de Terms of Service.
 */
#}
<div class="tos-acceptance">
  <h3>{{ 'Terms of Service'|t }}</h3>
  <div class="tos-acceptance__content">
    <p>{{ 'Estado de aceptación de ToS por los tenants.'|t }}</p>
  </div>
</div>
