{#
/**
 * @file
 * Partial: Estadísticas del canal de denuncias.
 */
#}
<div class="whistleblower-stats">
  <h3>{{ 'Canal de denuncias'|t }}</h3>
  <div class="whistleblower-stats__content">
    <p>{{ 'Estadísticas de reportes y estado de investigaciones.'|t }}</p>
  </div>
</div>
