/* Error: $color: var(--ej-brand-google-yellow, #fbbc04) is not a color.
 *    ,
 * 62 |     &--urgent { background: color-mix(in srgb, $fiscal-warning 15%, transparent); color: color.adjust($fiscal-warning, $lightness: -20%); }
 *    |                                                                                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss/_einvoice-morosity.scss 62:90  @use
 *   scss/einvoice.scss 8:1              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: var(--ej-brand-google-yellow, #fbbc04) is not a color.\a    \2577 \a 62 \2502      &--urgent { background: color-mix(in srgb, $fiscal-warning 15%, transparent); color: color.adjust($fiscal-warning, $lightness: -20%); }\d\a    \2502                                                                                           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss/_einvoice-morosity.scss 62:90  @use\a   scss/einvoice.scss 8:1              root stylesheet";
}
