{#
/**
 * @file
 * Partial: Funding dashboard header.
 *
 * Variables:
 * - tenant: The tenant entity.
 */
#}
<div class="ej-funding-header">
  <h2 class="ej-funding-header__title">{{ 'Dashboard de Subvenciones'|t }}</h2>
  {% if tenant %}
    <span class="ej-funding-header__tenant">{{ tenant.label }}</span>
  {% endif %}
</div>
