{#
/**
 * @file
 * Partial: Funding deadline calendar panel.
 *
 * Variables:
 * - deadlines: Array of deadline data with call info.
 */
#}
<div class="ej-funding-calendar">
  <div class="ej-funding-calendar__header">
    <h3>{{ 'Calendario de Plazos'|t }}</h3>
    <div class="ej-funding-calendar__nav">
      <button class="ej-funding-calendar__prev" aria-label="{{ 'Mes anterior'|t }}">&laquo;</button>
      <span class="ej-funding-calendar__month" id="funding-calendar-month"></span>
      <button class="ej-funding-calendar__next" aria-label="{{ 'Mes siguiente'|t }}">&raquo;</button>
    </div>
  </div>
  <div class="ej-funding-calendar__grid" id="funding-calendar-grid">
    {# Calendar grid populated via JS #}
  </div>
</div>
