{#
/**
 * @file
 * Partial: Funding search and filters panel.
 *
 * Variables:
 * - filters: Active filter values.
 * - results: Array of FundingCall entities.
 */
#}
<div class="ej-funding-search">
  <div class="ej-funding-search__form">
    <input type="text" class="ej-funding-search__input" placeholder="{{ 'Buscar convocatorias...'|t }}" />
    <div class="ej-funding-search__filters">
      <select class="ej-funding-search__filter" data-filter="region">
        <option value="">{{ 'Todas las regiones'|t }}</option>
      </select>
      <select class="ej-funding-search__filter" data-filter="type">
        <option value="">{{ 'Todos los tipos'|t }}</option>
      </select>
      <select class="ej-funding-search__filter" data-filter="status">
        <option value="">{{ 'Todos los estados'|t }}</option>
      </select>
    </div>
  </div>
  <div class="ej-funding-search__results" id="funding-search-results">
    {# Results populated via JS #}
  </div>
</div>
