{#
/**
 * @file
 * Partial: Funding matches panel.
 *
 * Variables:
 * - matches: Array of FundingMatch entities with associated FundingCall data.
 */
#}
<div class="ej-funding-matches">
  <div class="ej-funding-matches__header">
    <h3>{{ 'Mis Convocatorias Matching'|t }}</h3>
    <div class="ej-funding-matches__sort">
      <select class="ej-funding-matches__sort-select">
        <option value="score_desc">{{ 'Mayor score'|t }}</option>
        <option value="deadline_asc">{{ 'Plazo mas proximo'|t }}</option>
        <option value="created_desc">{{ 'Mas recientes'|t }}</option>
      </select>
    </div>
  </div>
  <div class="ej-funding-matches__list" id="funding-matches-list">
    {# Match cards populated via JS #}
  </div>
</div>
