{#
/**
 * @file
 * Header for the tenant export page.
 */
#}
<div class="ej-export__header">
  <h1 class="ej-export__title">{{ 'Exportar Datos del Tenant'|t }}</h1>
  <p class="ej-export__subtitle">
    {{ 'Descarga todos los datos de tu organización en un paquete ZIP portátil. Cumplimiento GDPR Art. 20.'|t }}
  </p>
</div>
